/* ===========================
   Základní styl stránky
   =========================== */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #36eea7;
}

h1 {
  margin-bottom: 15px;
}

/* ===========================
   Input pro město
   =========================== */
#city {
  width: 200px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
  /* odstraní defaultní linku a modré orámování */
}

#city:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* ===========================
   Našeptávač
   =========================== */
#suggestions {
  display: block;
  border: 1px solid #ccc;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  max-height: 120px;
  overflow-y: auto;
  width: 210px;
  /* širší než input */
  background: white;
  position: absolute;
  z-index: 1000;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

#suggestions.show {
  opacity: 1;
}

.suggestion {
  padding: 5px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f8f8f8;
}

/* ===========================
   Forecast tabulka
   =========================== */
#forecast {
  margin-top: 20px;
}

.weather-icon {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.weather-icon .weather,
.weather-icon .graph {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 1.0s, opacity 3.0s;
}

/* graf je na začátku skrytý */
.weather-icon .graph {
  opacity: 0;
}

/* hover animace */
.weather-icon:hover .weather {
  transform: scale(1.5);
  opacity: 0;
}

.weather-icon:hover .graph {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.2); /* jemné ztmavení stránky */
}

.modal-content {
  background: rgba(255,255,255,0.8); /* jemná průhlednost */
  backdrop-filter: blur(6px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);

  width: 350px;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

table td,
table th {
  text-align: center;
  padding: 10px 12px;
  overflow: visible;
}

th {
  background-color: #007BFF;
  color: white;
  font-weight: normal;
}

td,
th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

tr:last-child td {
  border-bottom: none;
}